@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


::-webkit-scrollbar {
  width: 8px; /* Adjust width as needed */
}

::-webkit-scrollbar-track {
  background: #1a202c; /* Track color (dark gray) */
}

::-webkit-scrollbar-thumb {
  background-color: gray; /* Thumb color (blue) */
  border-radius: 6px; /* Rounded scrollbar thumb */
  border: 2px solid #2d3748; /* Add border for contrast */
}
